# Copy this file, rename the copy to '.env' and replace with your own vars below.
# Make sure the vars match your Laravel .env file.
# See https://docs.docker.com/compose/compose-file/#variable-substitution for reference

APP_SERVICE_TAGS=dev
APP_USER=your_user